/* Muli & Unna Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Muli&family=Unna:ital@1&display=swap" rel="stylesheet');


.nav{
    max-height: 15% !important;
    background-color: #3BA4A0;
    max-width: 100% !important;
    font-family: 'Unna', serif;
    box-sizing: unset !important;
}

.unna{
    font-family: 'Unna', serif;
    font-size: 2rem;
}

.container{
    max-width: 100% !important;
}

.titulo{
    width: 65%;
}

.inicio{
    position: absolute;
    right: 13rem;
}

#inicio{
    font-family:  'Unna', serif;
    font-size: 170%;
}

.logo{
    width: 17%;
    height: 10%;
}

.pdtp-1{
    padding-top: 0.5rem;
}

.pdt-1{
    padding-top: 1.5rem;
}

.pdl-1{
    padding-left: 1rem;
}

.pdl-card{
    padding-left: 25rem;
}

.pdl-card2{
    padding-left: 36rem;
}

.pdb-2{
   padding-bottom: 1.5rem;
}

.pdb-3{
    padding-bottom: 3rem;
}
.mglp-1{
    margin-left: 0.5rem;
}

.mglp-2{
    margin-left: 1rem;
}

.mglp-3{
    margin-left: 3rem;
}

.mgl-1{
    margin-left: 1.5rem;
}

.mgl-2{
    margin-left: 2rem;
}

.mgl-5{
    margin-left: 5rem;
}

.mgl-3{
    margin-left: 12.5%;
}

.mgln-4{
    margin-left: -9rem;
}

.mgr-1{
    margin-right: 0.5rem;
}

.mgr-5{
    margin-right: 5rem;
}

.mgrn-5{
    margin-top: 1rem;
    margin-right: -5rem;
}

.mgtp-1{
    margin-top: 0.25rem;
}

.mgt-5r{
    margin-top: 3%;
}

.mgt-1{
    margin-top: 1rem;
}

.mgt-2{
    margin-top: 2rem;
}

.mgrb-1{
    padding-bottom: 1.5rem;
}

.mgb-1{
    margin-bottom: 1rem;
}


.titulo h1,.titulo h2{
    color: white;
    font-size: 370% !important ;
}

#imagen1 , #imagen2{
    margin-bottom: 2rem;
    width: 70%;
    max-height: 40%;
}

#imagen3{
    width: 70%;
    max-height: 40%;
}

.centrar{
   margin-left: 20% !important;
   margin-bottom: 8rem;
}

.centradoimg{
    padding-left: 15%;
    padding-right: 15%;
}
/*cambiar height a 300px */
.cuadrado{
    box-shadow: 5px 5px 5px grey;
    margin-left: 2rem;
    height: 350px;
    align-self: center;
    background-color: grey;
}

.gris{
    background-color: #f0f0f0;
}

.amarillo{
    background-color: #EEAC2C;
}

.rojo{
    background-color: #E94545;
}

.verde{
    background-color: #5CAB27;
}

.cuadrado .texto{
    padding-top: 1rem;
    text-align: center;
    color: #E5E5E5;
    font-family: 'Muli','sans-serif';
}

li a{
    padding-top: 1rem;
    text-align: center;
    color: #E5E5E5;
    font-family: 'Muli','sans-serif';
}
.texto h1{
    font-size: 3rem;
}
.texto li{
    padding-top: 0.8rem;
    text-align: justify;
    padding-left: 1rem;
    font-size: 2rem;
}

.recomendador{
    font-size: 1.8rem;
    text-align: center !important;
}

.titulosUni{
    font-size: 130%;
}

#imagen1:hover{
    background-color:#E94545;
}

#imagen1:hover .texto,#imagen2:hover .texto,#imagen3:hover .texto,a, a:hover{
    color: white;
}

#imagen2:hover{
    background-color: #EEAC2C;
}

#imagen3:hover{
    background-color: #5CAB27;
}

.tarjeta{
    box-shadow: 5px 5px 5px grey;
    background-color: white;
    border: 5px;
}

.muli{
    font-family: 'Muli','sans-serif';
}

div p{
    font-size: 135%;
}

.dropdown-item{
    font-size: 130%;
}

#formula{
    width: 15%;
}

.dropdown-menu {
    max-height: 200px;
    max-width: 300px;
    overflow-y: auto;
  }

.btn-secondary{
    background-color:#b8b6b6 ;
}

.blocktext {
    display: flex;
    align-items: center;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(243, 238, 230);
  }
  th, td {
    padding: 5px;
    text-align: center;
  }


.vacio{
    border-left: hidden;
    border-bottom: hidden;
    background-color: white;

}

.vacioac{
    border-bottom: hidden;
    border-right: hidden;
    background-color: white;
}

td div p{
    font-size: 15px;
}
.escala{
    max-height: 25px;
    max-width: 140px;
    border: 1px solid black;
    background-color: white;
}

.porcentaje{
    max-height: 25px;
    max-width: 150px;
    border: 1px solid black;
    background-color: white;
}

#criterio{
    width: 50%;
}

#escala{
    width: 18%;
}

#porcentaje{
    width:20%;
}

p.mgr-1{
    text-align: right;
}

.consulta td .escala, .consulta td .porcentaje{
    background-color: rgb(184, 182, 182);
    color:#E5E5E5;
}

td .row {
    margin-left: 0px;
}
td div input{
    text-align: center;
    font-size: 90% !important;
}

.input-group-addon {
    margin-top: 2px;
    margin-left: -20px;
    color: #666;
}

.min-aprob{
    max-width: 13%;
    text-align: center;
}

td div a, td a{
    /*color: black !important;*/
    text-align: center;
}

#criterios, option{
    font-size: 100%;
    font-family: 'Muli','sans-serif';
    max-width: 22%;
}

div .criterios{
    max-width: 18%;
}

#nombres, .empresas{
    width: 40%;
}

#accion,.accion,.expiracion{
    width: 30%;
}

#listaProductos{
    width: 90%;
    font-size: 85%;
}

.default{
    height: 16rem;
}

#datosProvedor{
    width: 20%;
}

#perfumistaInfo{
    text-align: center;
}

.datosProveedor{
    height:60%;
}

.arreglar{
    margin-right: 0px !important;
}

table{
    width: 50%;
}

.criterioEva{
    width: 35%;
}

#escalaEva{
    width: 20%;
}

.nombreEmp{
    width: 30%;
}

.estado{
    width: 20%;
}

.tiempoEntrega{
    width:5% ;
}

.hacerPedido{
    padding-left: 30rem;
}

#tabla{
    width: 50%;
}

.hacerPedido h5 a{
    color:black;
}

.hacerPedido h5 a:hover{
    color:#3BA4A0;
}

.selecEmp{
    margin-left: 0.5rem;
}

.cancelante{
    width: 30%;
}

.cancelLabel, .cancelDescLabel{
    font-size: 70%;
}

.descCancel{
    width: 30% !important;
    height: 25% !important;
    resize: none;
    overflow-y: auto;
}

.desc{
    width: 20% !important;
}

.tablaDatos{
    width: 100% !important;
}

#filtros div{
    display: inline;
}

#genero{
    max-width: 45% !important;
}

.generoDiv{
    width: 20%;
}

.nombreFiltro{
    font-size: 105%;
}

.rangoDiv{
    width:24%;
}

.rango{
    width: 20%;
    text-align: center;
}

.separador{
    width:10px;
   background-color: black;
    height: 5px;
}

.intensidadDiv{
    width: 20%;
}

.intensidad{
    max-width: 59% !important;
}

.caracterDiv{
    width: 25%;
}

.caracterSubDiv{
    width: 65%;
}

.agregar{
    width: 100%;
    margin-left: 0px !important;
}
.caracter{
    width: 70%;
}

.aromaPDiv{
    width: 24%;
}

.aromaP{
    width: 42%;
}

.usoDiv{
    width:22%;
}

.uso{
    width: 43%;
}

.aspectoPerDiv{
    width: 22%;
}

.aspectoPer{
    width: 40%;
}


.familiaOlfDiv{
    width: 25%;
}

.familiaOlf{
    width: 40%;
}

.recomendadorCard{
    height: 70%;
}

.rueda{
    width: 50%;
}

.perfumes{
    width: 50%;
}

.imgPerf{
    width: 15%;
    height: 20%;
    border: 2px black;
}

.ficha{
    color: #3BA4A0;
}

.ficha:hover{
    color: blue;
}

.circle{
    border: 1px solid #aaa;
    box-shadow: inset 1px 1px 3px #fff;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: relative;
    margin: 4px;
    display: inline-block;
    vertical-align: middle;
    background: #aaaaaa4f;
}
.circle:hover{
    background: radial-gradient(#aaa, #fff);
}
.circle:active{
    background: #6363634f;
}
.circle:before,
.circle:after{
    content:'';position:absolute;top:0;left:0;right:0;bottom:0;
}
/* PLUS */
.circle.plus:before,
.circle.plus:after {
    background:green;
    box-shadow: 1px 1px 1px #ffffff9e;
}
.circle.plus:before{
    width: 2px;
    margin: 3px auto;
}
.circle.plus:after{
    margin: auto 3px;
    height: 2px;
    box-shadow: none;
}

.circle.minus:before{
    background: #cc0000;
    margin: auto 3px;
    height: 2px;
    box-shadow: 0px 1px 1px #ffffff9e;
}

.cuadrar{
    width: 100px;
    text-align: center;
}

.agregado{
    margin-left: 0rem;
    width: 100%;
}

.aN{
    color:black;
}

.aN:hover{
    color:black !important;
}